:root{
    --primary-color:#242038;
    --secondary-color: #725AC1;
    --third-bg-color: #8D86C9;
    --green-color: #CAC4CE;
    --red-color:#F7ECE1;
}

html{
    /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
}

h1,h2,h3,h4,h5, p, label{
    color: white;
}

h1{
    text-align: center;
}

.title-page{
    color: black;
    padding-top: 10px;
}

.app{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    min-height: 95vh;
    background-color: var(--third-bg-color);
    border-radius: 5px;
    display: block;
}

.icon {
    fill: black;
    width: 12px;
    height: 12px;
}

.menu{
    background-color: var(--primary-color);
}

/*
.notes-container{
    border: 1px solid var(--primary-color);
}*/

.notes-edit-container{
    background-color: #111018;
}

.note{
    background-color: var(--primary-color);
}